
html { /*Afecta a todo el codigo */
    font-family: Times New Roman;  /*Le da por defecto a toda la pagina el tipo de texto Times New Roman */
    background: url(../images/fondi.png); 
    background-size: auto 120%;
}

a{/*para toda la etiqueta a*/
    color: #ffffff;/*color blanco*/
    text-decoration:none;/*sin decoracion*/
    text-align: center;

} 
p a{ /*todas las etiquetas a dentro de p*/
    color: #0000FF;/*color azul*/
    font-weight: bold; /*negrilla*/
    text-decoration: underline; /*subrayado*/
    text-align: center;
}
h2 a:hover{
    color: #0099cc;/*cambia de color a las palabras cuando el cursor está encima de ellas.*/
    text-decoration:none;/*sin decoracion*/
    text-align: center;

}
h2 a{
    color: ffffff;/*color blanco a los h2*/
    text-decoration:none;/*sin decoracion*/
    text-align: auto;

}

.aside a:hover{/*etiquetas a dentro de la clase aside*/
    text-decoration:underline;/*subrayado*/
}

p { /*etiquetas parrafo*/
    text-align: justify; /*texto justificado*/
    font-size: 30px;
}

a:hover{ /*etiqueta a cuando el cursor esta encima*/
    text-decoration:none;/*no decoracion*/

}

img{ /*etiqueta imagen*/
    margin: auto;
}
h1{
    text-align: center;
    font-size: 100px;
}

.azultexto{
    color: black;
    font-size: 50px;
    margin:0px 0px 0px 0px;

}
.gris{
    color: black;
    font-size: 30px;



}

.head { /*caja de clase=head*/
    background-image: url(../imagenes/fondo3.jpg);/*imagen como fondo*/ 
    background-size: 100% 100%; /*100% de la imagen*/
    color: #ffffff; /*color letra blanca*/
    padding: 20px;/*pading de 20px por todos sus lados*/
    text-align: center; /*texto centrado*/
    margin-bottom: 5px;/*margen inferior de 5 px*/
}

.menu ul { /*etiqueta ul dentro de la clase menu*/
    list-style-type: none;/*sin decoracion*/
    margin: 0; /*no margen*/
    padding: 0; /*no padding*/
}

.menu li  { /*etiqueta li dentro de la clase menu*/
    padding: 30px; /*padding de 3px*/
    margin-bottom: 10px;/*margen de 10px*/
    background-color : #559DB3;/*color azul en el fondo de los botones del menu*/ 
    color: #ffffff; /*letra blanca*/
    text-align: center;/*texto centrado*/
    font-size: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgb(0,0,0,0.24);/*sombra de cada opcion*/ 
    -webkit-transition-property: width;/*ancho del elemnto se afecta con animacion*/
    -webkit-transition-duration: 5s;/*duracion de 5s*/
    transition-property: width;/*ancho del elemnto se afecta con animacion*/
    transition-duration: 5s;  /*duracion de 5s*/
}

.menu li:hover { /*etiqueta li dentro de la clase menu cuando el cursor esta encima*/
    background-color: #0099cc;/*color de fonod azul agua marina*/ 
    width: 90% ;/*aumenta su tama�o */
}

.menu:after { /*elementos de la caja menu estan vacios*/
    content: "";/*sin texto*/ 
    clear: both; /*no elementos flotantes*/
    display: block; /*elementos mostrados*/
}


.mapa{ /*calse mapa*/
    color:black; /*color negro para letra*/

}

.principal{/*caja principal*/
    position:relative;/*posicion relativa*/
    width:100%;/*ancho al 100%*/
    height:100%;/*alto al 100%*/
}



.menu{/*caja del menu que esta contenida en la caja principal*/
    width:20%;/*ancho al 20%*/
    height: 1000%;
    /*position:relative;/*poicion absolute respecto a la caja contenedora*/
    top:20px;/*a 2px del margen de arriba*/
    left:10px;
    right:90px;
    float:right;

}


.texto{/*caja texto contenida dentro la principal*/
    width:50%;/*ancho al 50%*/
    position:relative;/*posicion absoluta dentro de la caja contenedora*/
    top:2px;/*distancia del margen superior*/
    botton:10px;/*no margen inferior*/
    left:50px;/*dezplazado 330 px desde el margen izquierdo*/
    right:10px;/*no hay desplzamiento desde elmargen derecho*/
    margin: auto;
}
.texto1{/*caja texto contenida dentro la principal*/
    width:70%;/*ancho al 50%*/
    position:relative;/*posicion absoluta dentro de la caja contenedora*/
    top:2px;/*distancia del margen superior*/
    botton:10px;/*no margen inferior*/
    left:70px; /*se dezplazo 70 px desde el margen izquierdo*/
    right:10px;/*no hay desplzamiento desde elmargen derecho*/

}
.info{/*Afecta a los items que se encuentran en la primer columna a la izquierda*/
    width:20%;/*ancho al 20%*/
    position:absolute;/*posicion absoluta dentro de la caja contenedora*/
    top:2px;/*distancia del margen superior*/
    botton:10px;/*no margen inferior*/
    left:40px;/*no hay desplzamiento desde elmargen izquierdo*/
    right:2px;/*2px desplzamiento desde elmargen derecho*/
    float:left;
}


.footer{/*caja colu 3 dentro de la caja principal*/
    width:100%;/*ancho al 100%*/
    position:relative;/*posicion absoluta dentro de la caja contenedora*/
    bottom:-100px;/*distancia desde el margen margen inferior*/
    float:left;
}

.piepag {/*caja con clase piepag*/
    text-decoration:none;/*no decoracion*/
    color:black;/*letra color negra*/
    position:relative;/*posicion absoluta dentro de la caja contenedora*/
    text-align: center;/*texto centrado*/
    background:#93C4D3;/*color azul en el fondo*/
}

* {
    box-sizing: border-box;
}


/*Comportamiento adaptativo*/

@media only screen and (max-width: 1000px){
    /*Se modifican las columnas de navegacion*/   
    .info{ 
        font-size: 14px;
        width: 200px;    }
    .texto{ 
        font-size: 14px;
        width: 200px;    }

    .menu {
        font-size: 14px;
        width: 200px;
    }
    img{
        margin: auto;
    }
    /*Se modifica el tamaño de las fuentes de los distintos elementos de la página*/
    .header{
        font-size: 40px;	   
    } 
    h1{
        font-size: 20;
    }

    h2{
        font-size: 18px; 
    }

    p {
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 480px){

    /*Se modifica el tamaño de las fuentes de los distintos elementos de la página*/
    .header{
        font-size: 35px;	   
    }
    img{
        margin: auto;
    }
    h1{
        font-size: 18;
    }

    h2{
        font-size: 16px; 
    }


    p {
        font-size: 17px;
    }

    /*Se modifican las columnas de navegacion*/   
    .info{ 
        font-size: 14px;
        width: 200px;    }
    .texto{
        font-size: 14px;
        width: 200px;    }

    .menu {
        font-size: 14px;
        width: 200px;
    }
}

